<p class="text-white/90 text-wrap mx-auto">
    <p class="text-xl font-semibold text-yellow-200 mb-3 text-wrap">Incorporación inmediata con posibilidad de convenio de prácticas con mi academia.<br></p>
  
    <p>¿Alguna vez te has frustrado con una página web lenta o mal diseñada? Yo también.
      Esas experiencias cotidianas me llevaron a especializarme en el desarrollo web para mejorar la experiencia del usuario.
    </p>
    <br>
    <br>
    Soy <span class="text-yellow-200">Abraham</span>, estudiante de Desarrollo de Aplicaciones Web, siempre estoy aprendiendo nuevas tecnologías y siguiendo las últimas tendencias en el mundo de la programación.
    <p>Durante mi formación, estoy trabajando con 
      <span class="text-yellow-200">HTML5 y CSS3</span> 
      para estructurar y diseñar sitios web, y con 
      <span class="text-yellow-200">JavaScript y PHP</span> 
      para crear aplicaciones web interactivas y robustas.
    </p>
    <p>También manejo AJAX para actualizaciones sin recargar la página, y utilizo frameworks como 
      <span class="text-yellow-200">Bootstrap, Tailwind, Astro y JQuery</span> 
      para construir interfaces modernas y eficientes.
    </p>
    <p>En cuanto a bases de datos, soy competente en 
      <span class="text-yellow-200">SQL, MySQL, Workbench, phpMyAdmin y Access</span>. He procesado datos con 
      <span class="text-yellow-200">XML, XSLT y XQuery</span>, y he desarrollado y probado aplicaciones en entornos controlados usando máquinas virtuales y VMware.
    </p>
    <p>Tengo experiencia en administración de sistemas 
      <span class="text-yellow-200">Linux y Windows</span>, incluyendo scripting con <span class="text-yellow-200">Bash y PowerShell</span>, así como en diseño de interfaces con 
      <span class="text-yellow-200">Figma</span> y <span class="text-yellow-200">Dreamweaver</span>.
    </p>
    <p>Además de mis habilidades técnicas, he creado contenido educativo en redes sociales, mejorando mi capacidad de comunicación y adaptación.</p>
    
    <p class="mt-3 text-white/90 text-wrap">
      En mi tiempo libre, estoy aprendiendo frameworks como <span class="text-yellow-200">React, Astro y Angular</span>, y tecnologías como <span class="text-yellow-200">Docker</span> y <span class="text-yellow-200">AWS</span> (incluyendo servicios básicos como EC2, S3 y RDS), para ampliar aún más mi conjunto de habilidades y estar al día con las últimas innovaciones tecnológicas.
    </p>
    
    <p class="mt-3 text-white/90 text-wrap">
      Disponible para proporcionar información adicional y participar en una entrevista para discutir cómo puedo contribuir a su equipo.
    </p>
    <p class="mt-3 text-white/90 text-wrap">
      Agradezco su atención.
    </p>
    <p class="mt-3 text-white/90 text-wrap">
      Atentamente,
    </p>  
    <p class="mt-3 text-white/90 text-wrap">
      Abraham
    </p>
  </p>
  